h3{
    text-align: center;
}

.button {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    text-align: center;
    margin: auto;
}




