h3{
    text-align: center;
}

input {
    border: 1px solid lightgray;
    border-radius: 22px;
    margin: 0 auto;
    display: block;
}

.button {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    text-align: center;
    margin: auto;
}



