input {
    display: block;
    background-color: transparent;
    text-align: left;
    border: 0;
    padding-left: 8px;
    width: 80%;
}

input:hover {
    cursor: text;
}

input:focus {
    outline: none;
}

.task-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px auto;
    display: flex;
    width: 70%;
    height: 60px;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 1px 2px 0px, rgb(0 0 0 / 5%) 0px 2px 8px 0px;
}

.del-btn{
    display:block;
    border: none;
    text-align: center;
    margin: auto 5px;
    background-color: white;
    padding: 0;
}

.checkbox{
    margin: auto 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    border: lightgray;
}