div p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

h3{
    text-align: center;
    color: white;
    padding: 10px;
}

div .col{
    padding: 0;
}

.add-button {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    text-align: center;
    margin: 5px auto 10px;
}

div ul {
    padding-left: 0;
}


.ToDo{
    background-color: rgb(0, 170, 255);
}

.Doing{
    background-color: rgb(10, 160, 235);
    ;
}

.Done{
    background-color: rgb(0, 148, 223);
}